*{
    padding:0px;
    margin:0px;
    box-sizing:border-box;
}

ul{
    list-style-type:none;
}

.wrapper{
    width:1000px;
    min-height: 400px;
    padding:15px;
    margin:0px auto;
    overflow: auto;
}

.always-bottom{
    position: absolute;
    bottom: 0px;
    margin-bottom: 10px;
    width:100%;
}

input.title{
    display:block;
    margin:10px auto;
    text-align:center;
}

textarea.description{
    margin:10px auto;
    resize:none;
}

input.ng-invalid, textarea.ng-invalid{
    border:1px solid #FF0000;
}

input.ng-valid, textarea.ng-valid{
    border:1px solid #00FF00;
}


.top-sep{
    margin-top:10px;
}

.top-sep.more{
    margin-top:30px;
}

.bot-sep{
    margin-bottom:10px;
}

.both-sep{
    margin-top:10px;
    margin-bottom:10px;
}

.full{
    width:100%;
}

form{
    overflow:auto;
}

.left{
    float:left;
}

.right{
    float:right;
    margin: 5px;
    overflow: auto;
}


.current{
    background-color: rgba(91, 192, 222, 0.5);
}

/*.error{
    background-color: rgba(100, 0, 0, 0.5);
}*/

.list-group-item{
    padding:5px;
}

.message{
    position: absolute;
    bottom: 0px;
}

/* Tooltip container */
.tooltip-base{
    position: relative;
}

/* Tooltip text */
.tooltip-base .tooltip-text {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 2px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 1s;
}

/* Tooltip arrow */
.tooltip-base .tooltip-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip-base:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

.picker-container{
    position: absolute;
    z-index: 9999;
}

.dummy-form{
    display: inline;
    overflow: visible;
    padding: 0px;
    margin:0px;
}
