.container{
    /*background-color: #EEEEEE;*/
}

ul{
    list-style-type:none;
}

ul.decorated{
    list-style-type: square;
}

.always-bottom{
    position: absolute;
    bottom: 0px;
    margin-bottom: 10px;
    width:100%;
}

input.title{
    display:block;
    margin:10px auto;
    text-align:center;
}

textarea.description{
    margin:10px auto;
    resize:none;
}

input.ng-invalid, textarea.ng-invalid{
    border:1px solid #FF0000;
}

input.ng-valid, textarea.ng-valid{
    border:1px solid #00FF00;
}


.top-sep{
    margin-top:10px;
}

.top-sep.more{
    margin-top:30px;
}

.bot-sep{
    margin-bottom:10px;
}

.both-sep{
    margin-top:10px;
    margin-bottom:10px;
}

.full{
    width:100%;
}

.left{
    float:left;
}

.right{
    float:right;
    margin: 5px;
    overflow: auto;
}


.current{
    background-color: rgba(91, 192, 222, 0.5);
}

/*.error{
    background-color: rgba(100, 0, 0, 0.5);
}*/

.list-group-item{
    padding:5px;
}

.message{
    position: absolute;
    bottom: 0px;
}

.subjects{
    display: inline-block;
    margin-right: 10px;
}

.subject{
    display:inline-block;
    margin-top: 5px;
    margin-bottom: -5px;
    width:20px;
    height:20px;
    border-radius: 10px;
}

.subject.red{
    background-color: red;
}
.subject.orange{
    background-color: orange;
}
.subject.blue{
    background-color: cyan;
}
.subject.green{
    background-color: green;
}
.subject.gray{
    background-color: gray;
}

.status-done{
    background-color: rgba(0,255,0,0.4);
}

.status-todo{
    background-color: rgba(255,0,0,0.3);
}

.status-assigned{
    background-color: rgba(255,165,0,0.3);
}

.tooltip-base{
    position: relative;
}

.tooltip-base .tooltip{
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 9999;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 1s;
}

.tooltip-base .tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip-base:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.picker-container{
    position: absolute;
    z-index: 9999;
}

.dummy-form{
    display: inline;
    overflow: visible;
    padding: 0px;
    margin:0px;
}

.under-nav{
    padding-top: 70px;
}

@keyframes blink {
    0% {opacity : 1}
    80% {opacity : 0}
    100% {opacity : 1}
}

.blink{
    animation-name: blink;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.label-group{
    
}

.label-group-item{
    padding: 6px 12px;
}

.label-group>.label-group-item:first-child{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.label-group>.label-group-item:last-child{
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.module-name{
    color: #fff;
    background-color: #AD2A1A;
    border: 1px solid #9A2617;
}

.topic-name{
    color: #fff;
    background-color: #DA621E;
    border: 1px solid #C2571A;
}

.item-name{
    color: #fff;
    background-color: #D3B53D;
    border: 1px solid #BCA136;
}