
.add-item{
    display: block;
    width: 300px;
    margin: 10px auto;
}


.timeline-month{
    overflow: auto;
    margin-bottom: 50px;
}

.timeline-item{
    padding: 5px;
    margin: 5px;
    background-color: #DDDDDD;
    border-radius: 5px;
    overflow: auto;
}

.always-bottom{
    display: block;
    left: 0;
    right: 0;
    position: fixed;
    bottom: 0px;
}

.subjects{
    display: inline-block;
    margin-right: 10px;
}

.subject{
    display:inline-block;
    width:30px;
    height:30px;
    border-radius: 15px;
}

.subject.red{
    background-color: red;
}
.subject.orange{
    background-color: orange;
}
.subject.blue{
    background-color: cyan;
}
.subject.green{
    background-color: greenyellow;
}
.subject.gray{
    background-color: gray;
}

.tooltip-base{
    position: relative;
}

.tooltip-base .tooltip{
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 1s;
}

.tooltip-base .tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip-base:hover .tooltip {
    visibility: visible;
    opacity: 1;
}